

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">



 
    <div class="page-wrapper bg-gra-01 p-t-180 m-2 p-b-100  font-poppins">
        
        {{!-- {{>messages }} --}}
     
        <div class="wrapper bg-white  wrapper--w780">
            <div class="card bg-white card-3">
              <h1 class="text-secondary text-center">DOCTOR SIGNUP</h1>

                <div class="card-heading"></div>
                <div class="card-body">
                    {{!-- {{# if errors }}{{!=}} {{null}}

                        <div class="alert alert-danger" role="alert">
                        {{errors.msg}}
                        </div>
                    {{/ if}} --}}
                    {{isnt errors=''}}
                       {{#each errors}}
                            {{#each this}}
                              
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{this}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                            {{/each}}
                        {{/each}}
                    {{isnt}}    
                    
                    <form action='/doctor/signup' method="POST" >
                        <div class="input-group">
                            <input class="input--style-3"
                             type="text" placeholder="Name"
                              name="name"
                               required>
                        </div>
                        <div class="input-group">
                            <input class="input--style-3 js-datepicker" type="email" required placeholder="Email" name="email">
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                        </div>

                        <div class="input-group">
                            <input class="input--style-3" required type="text" placeholder="License Number" name="lsno">
                        </div>
                        <div class=" input-group " id="service-select">
								<select name="gender">
									<option data-display=""  value="male">Male</option>
									<option value="female">Female</option>
									<option value="other">Other</option>
								</select>
						</div>
                        
                        <div class=" input-group " id="service-select">
								<select name="department" >
									<option data-display=""  value="General">General Medicine</option>
                                    <option value="Psychiatry">Ayurvedic</option>
									<option value="Cardiology">Cardiology</option>
									<option value="Ear nose and throat (ENT)">Ear nose and throat (ENT)</option>
                                    <option value="Gastroenterology">Gastroenterology</option>
									<option value="Gynaecology">Gynaecology</option>                                    
									<option value="Haematology">Haematology</option>
                                    <option value="Nephrology">Nephrology</option>
									<option value="Neurology">Neurology</option>
                                    <option value="Oncology">Oncology</option>
									<option value="Ophthalmology">Ophthalmology</option>
                                    <option value="Orthopaedics">Orthopaedics</option>
								                                    
                                </select>
						</div>
                        <div class="input-group">
                            <input class="input--style-3" required type="password" placeholder="Password" name="password">
                        </div>
                        <div class="input-group">
                            <input class="input--style-3" required type="password" placeholder="Confirm Password" name="password1">
                        </div>
                        <div class="p-t-10">
                            
                             <button class="btnn btnn--pill btn-primary" type="submit">SignUp</button>
                        </div>
                        <div>
                            <p class="text-secondary mt-2">If you alreay have an account <a class="text-success bg-white" href="/user/login">Login</a></p>

                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
         
    </div>

   

